body {
    background-color: #EAF6F6;
}
hr {
    background-color: white;
    border-style: none none none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}
h1 {
    color: #169b9b;
}
h3 {
    color: #169b9b;
}

